.comment {
    border-top: 2px solid #99a7ee;
    margin: 1rem;
    display: flex;
    flex-direction: column;
    flex-wrap: nowrap;
    align-content: center;
    justify-content: center;
}

.comment__header {
    display: flex;
    flex-direction: row;
    flex-wrap: nowrap;
    align-content: center;
    justify-content: space-between;
    align-items: center;
    padding: 0.75rem 0rem;
}

.comment__body {
    display: flex;
}

.comment__body__input {
  height: 4rem;
  width: 100%;
  box-sizing: border-box;
  overflow-y: scroll;
  border: 2px solid fuchsia;
  font-size: 1rem;
  resize: vertical;
}

.comment__header__profile-card {
    font-weight: 700;
}

.comment__header__date {
    color: #9a9a9a;
    font-size: 0.75rem;
}