.track__info {
    display: flex;
    justify-content: center;
    background-color: #97C34B;
}

.track {
  display: flex;
  justify-content: center;
  width: 67%;
  height: 20rem;
}

.track__overlay {
    background: linear-gradient(0deg, #00000088 50%, #ffffff44 100%);
    width: 100%;
    height: 100%;
    display: flex;
    justify-content: space-between;
    align-items: center;
    flex-direction: row;
}

.information__container {
    width: 100%;
    background-repeat: no-repeat;
    background-size: cover;
    background-position: center;
}

.information__album-art {
    height: 220px;
    width: 220px;
    padding: 1px;
    background-color: grey;
    border: 2px solid #5A8611;
}

.track__title {
    color: #5A8611;
}

.track__artist {
    color: white;
}

.track__minor {
    color: #FAC08A;
}

.track__minor__subtext {
    color: white;
}

button + button {
    margin-left: 0.5rem;
}
