.track__lyrics {
  white-space: pre-wrap;
}

.lyrics__annotated {
  background-color: #cecece;
  text-decoration: none;
  color: black;
}

.lyrics__annotated:focus {
  color: unset;
  background-color: #ffff64;
}