.hidden {
    display: none;
}

.comments-container {
    background-color: rgba(204,204,204,.2);
}

.create-comment {
    border: none;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: flex-start;
    padding: 1rem;
    width: -moz-fit-content;
    width: 100%;
    flex-wrap: nowrap;
    padding-left: 1rem;
    padding-right: 1rem;
    box-sizing: border-box;
}

.create-comment__input {
    height: 4rem;
    width: 100%;
    box-sizing: border-box;
    overflow-y: scroll;
    border: 2px solid fuchsia;
    font-size: 1.0rem;
}

.submit {
    background-color: #D28F51;
    border: 2px solid black;
    margin-top: 1.5rem;
    margin-bottom: 3rem;
    border-radius: 0;
    padding: 0.25rem 0.5rem;
    font-size: 1.25rem;
}