.annotation {
  border-left: 0.35rem solid #b2d7fe;
  position: relative;
  padding: 0rem 0rem 0rem 1rem;
  background-color: #ffffff;
}

.annotation__form-hidden {
  display: none;
}

.annotation__form {
  width: 100%;
  border: none;
}

.annotation__content {
  width: 100%;
  min-height: 8rem;
  border: none;
  background-color: #f7f7f7;
  margin-bottom: 0.75rem;
  resize: vertical;
  overflow-y: scroll;
}

.annotation__buttons {
  border-top: 1px solid #b2d7fe;
  width: 100%;
  padding-top: 1rem;
  display: flex;
  flex-direction: row;
  flex-wrap: nowrap;
  align-content: center;
  justify-content: flex-start;
  align-items: center;
}

.annotation__buttons__save {
  background-color: #ffffff;
  border: 2px solid #0ecb27;
  color: #0ecb27;
  border-radius: 0;
  font-size: 1.25rem;
  padding: 0.5rem;
}

.annotation__buttons__save:hover {
  background-color: rgba(14, 203, 39, 0.2);
}

.annotation__buttons__cancel {
  background-color: #ffffff;
  border: none;
  font-size: 1.25rem;
  padding: 0.5rem;
}

.annotation__buttons__cancel:hover {
  background-color: #f7f7f7;
}

.annotation__start-annotation {
  padding: 0.35rem;
  font-weight: 550;
  border: 0.125rem solid #000;
  box-sizing: border-box;
}