.navbar {
  height: fit-content;
  background-color: #ffff64;
  width: 100%;
  overflow: visible;
  position: relative;
  display: flex;
  flex-direction: column;
  justify-content: space-between;
}

.navbar__upper {
  display: flex;
  flex-direction: row;
  justify-content: space-between;
  align-items: center;
}

.navbar__lower {
  display: flex;
  flex-direction: row;
  background-color: black;
  height: fit-content;
  overflow: visible;
  align-items: center;
  justify-content: space-around;
}

.navbar__lower__container {
  box-sizing: border-box;
  height: 1.75rem;
  width: fit-content;
  align-items: center;
  justify-content: center;
  margin-left: 2rem;
  margin-left: 2rem;
  color: white;
}

.navbar__lower__centering__container {
  width: 60%;
  display: flex;
  flex-direction: row;
  justify-content: center;
  align-items: flex-start;
}

.nav__link {
  display: flex;
  align-items: flex-start;
  justify-content: center;
  color: white;
  text-decoration: none;
  text-transform: uppercase;
  margin-top: 0.75rem;
  text-align: center;
}

.navbar__search {
  margin: 0.25rem;
  padding: 0;
  width: fit-content;
  flex-direction: row;
  flex-wrap: nowrap;
  border: none;
}

.search__button {
  border: none;
  background-color: white;
  height: 1.9rem;
}

.search__button:active {
  background-color: whitesmoke;
}

input {
  height: 1.9rem;
  width: 220px;
}

.logo {
  width: fit-content;
  height: 45px;
  overflow: hidden;
  align-items: center;
}

.logo__container {
  position: relative;
  left: -85px;
}
