.navbar {
    height: 4.5rem;
    background-color: #5b8612;
    width: 100%;
    overflow: visible;
    position: relative;
    display: flex;
    flex-direction: column;
    justify-content: space-between;
}

.navbar__upper {
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    align-items: center;
}

.navbar__lower {
    background-color: black;
    height: 3.5rem;
    overflow: hidden;
}

.nav__link {
    color: white;
    text-decoration: none;
}

.navbar__search {
    margin: 0.25rem;
    padding: 0;
    width: fit-content;
    flex-direction: row;
    flex-wrap: nowrap;
    border: none;
}

.search__button {
    border: none;
    background-color: white;
    height: 1.9rem;
}

.search__button:active {
    background-color: whitesmoke;
}

input {
    height: 1.9rem;
    width: 220px;
}

.logo {
    width: fit-content;
    height: 45px;
    overflow: hidden;
    align-items: center;
}